.logo2{
    position: absolute;
    top: 30px;
    left: 30px;
}
.logo2 svg{
    width: 70px;
    height: 70px;
}
h1{
    margin-bottom: 20px;
    font-family: 'Gatwick', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 800;
    color: #f3d52c;
}
.presentation{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 40%;
}
.presentation p{
    font-family: 'Aeonik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--accent);
    margin-bottom: 2rem;
}
.presentation a{
    font-weight: 600;
    font-size: 16px;
}
.presentation p a::before{
    content:'';
    height: 2px;
    width: 20px;
    background-color: var(--accent);
    position: absolute;
    margin-top: 24px;
    transition: width 0.5s ease-in-out;
}
.presentation p a:hover::before{
    width: 40px;  
}
.social svg{
    opacity: 0.5;
}
.social svg:hover{
    opacity:1;
}
.social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 30%;
    min-width: 130px;
    transform: scale(0.6);
    transform-origin: left;
}
@media screen and (max-width:600px){
    .presentation{
        width: 80%;
    }
}