.menu ul{
	font-size: 3vw;
}
h3{
	letter-spacing:0;
}
.diapo{
	display: none;
	max-height:60vw;
	width:95.2%;
	margin-right: 0;
	margin-left: auto;
	overflow-y: scroll;
}
#menu{
	display: none;
}
.diapoleft{
	display: none;
	max-height:60vw;
	width:95.2%;
	margin-right: auto;
	margin-left: 0;
	overflow-y: scroll;
}
main{
	margin-bottom: 60px;
}
.gallery{
	margin-top:60px;
}
.contact{
	margin-top: 60px;
}
.bande{
	margin-top:30px;
}
.annotation, .annotationleft{
	visibility: hidden;
}