body{
	background-color: white;
	margin:0;
	height: 50vh;

}
main{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%);
}
.logo img{
  width: 12%;
}
.logo{
  height: 70px;
  width: 100%;
	margin-left: 3%;
	margin-right:2%;
	margin-bottom:30px;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
#back{
	text-decoration: none;
	font-family: 'raleway', sans-serif;
	background:#044fef ;
	padding: 14px;
	color: white;
	border-radius: 40px;
	font-size: 15px;
}
#back:hover{
	background: #fc5c55;
	color:#ffff00;
}
.slidesh{
	width:96%;
	height: 100%;
	margin:0 auto;
}
.slider{
	border:none;
}