

.title{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

}
#yellow h1{
    font-family: 'Gatwick', sans-serif;
    font-weight: 500;
    font-size: 5.5rem;
    margin-bottom: 0.5rem;
}
#blue h2{    
    font-family: 'Gatwick', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.presentation{
    margin-top: 10%;
    width: 30%;
    margin-left: 5%;
}
.presentation a{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px; 
}
.title p span{
    text-decoration: underline;
    text-underline-offset: 4px; 
    text-decoration-style: dashed;
}
#reveal{
   opacity: 0;
   max-width: 40%;
   margin-top: 1rem;
}
.title p{
    font-size: 1.4rem;
}

.copyright{
    position: absolute;
    bottom: 0px;
    color: var(--accent);
}
.copyright p{
    font-family: 'Quanty',sans-serif;
    font-weight: 200;
    font-size: 11px;
}
.img{
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 11%;
    right: 9%;
   
}
.img2{
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: -11%;
    right: 9%;
}
#logo1{
    width: 20%;
    margin-left: -10%;
    margin-top: 46%;
}
#logo2{
    position: absolute;
    width: 15%;
    margin-left: 42%;
    margin-top: -8%;
}


@media screen and (max-width:1024px) {
    .img{
        width:49%;
        right:0%;
        min-width: 360px;
    }
    .img2{
        width:49%;
        right:0%;
        top: -60%;
        min-width: 360px;
        background-position: 50% 160px;
    }
    #logo1{
        width: 16%;
        margin-left: -8%;
        margin-top: 91%;
    }
    #logo2{
        top: 10%;
        right: 40%;    
        margin: auto;
        width: 20%;
    }
    .presentation {
        margin-top: 50%;
        width: 80%;
        margin-left: 5%;
    }
}
@media screen and (max-width:830px) {
    .img{
        width: 69%;
        top: 35%;
        right: 50%;
        transform: translateX(50%);
        min-width: 320px;
  
    }
    .img2{
        width: 69%;
        top: -60%;
        right: 50%;
        transform: translateX(50%);
        min-width: 320px;
        background-position: 50% 200px;
    }
    .title{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        margin-top: 88px;
        width: 100%; 
    }
    #logo1{
       
    width: 15%;
    margin-left: -7%;
    margin-top: 31%;

    }
    #logo2{
        display: none;
    }
    #reveal{
        display: none;
    }
    .presentation {
        margin-top: 80%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width:500px) {
    .img{
        width: 100%;
    }
    .img2{
        width: 100%;
        display: none;
    }
    #logo1{
        display: none;
    }
    .copyright{
        color:white;
    }
    .presentation {
        width: 100%;
        margin-top: 50%;
        margin-bottom: 10%;
        margin-left: 0;
    
    }
}
@media (hover: none){
    .rs_mobile{
        display: flex;
    }
}