main{
	margin-bottom: 60px;
}
.header{
	margin-bottom: 60px;
}
.header :nth-child(2){
	display: none;
}
.header h3{
	font-size:2.3vw;
}
.menu{
	margin-top:60px;
}
.menu ul{
	font-size: 3vw;
}

#bloc{
	background-color: #EFE71D;
	width: 35%;
	height:90px;
	margin-left:26%;
	margin-top: 15%;
}
.menu{
	margin-bottom: 60px;
}
#menu, .curseur, .path, .carree{
	display: none;
}
.corps{
	margin-bottom: 60px;
}
.corps #deco{
	width: 29%;
}
.corps p{
	width:67%;
	font-size: 3vw;
}
#un, #deux, #trois{
	margin-bottom: 30px;
}
#un{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: flex-start;
}
#un .text{
	width:71%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#un p, #un h2{
	width:100%;
	margin:0;
}
#un h2{
	text-align: center;
	margin-bottom: 20px;
}
#un p{
	text-align: left;
	padding-left: 5%;
}
#un img{
	margin:0;
}
#deux img{
	margin-top:0;
	height: 29%;
}
#right, #left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#right h2, #left h2{
	margin-top: 0%;
}
#rectanglevert{
	height:406px;
}
#icon div{
	width: 25%;
}
#icon img{
	width:40%;
	margin-top: 20px;
}	