@font-face {
	font-family: 'Silka Regular';
	font-style: normal;
	font-weight: 500;
	src: local('Silka Regular'), url('Silka-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Silka Light';
	font-style: normal;
	font-weight: 300;
	src: local('Silka Light'), url('silka-light.woff') format('woff');
}
@font-face {
	font-family: 'Silka Medium';
	font-style: normal;
	font-weight: 700;
	src: local('Silka Medium'), url('silka-medium.woff') format('woff');
}
/*reset*/
html,body /* scroll horizontal bug */
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   /* overflow-x: hidden; */
}

body{
	font-family: 'Silka Light';
	font-size: 100%;
}
section{
	margin: 0% 4.8%;
}
main{
	margin-bottom: 90px;
}
/*------------header ------------*/
.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:55px;
	margin-bottom: 120px;
}
a {
	text-decoration: none;
}
h3{
	font-weight:300;
	font-size: 22px;
	font-size:1.78vw;
	color: #000000;
	letter-spacing: 0;
	text-align: left;
}
h1{
	font-weight: 300;
	font-size: 73px;
	font-size: 5.9vw;
}
p{
	font-weight: 300;
	font-size: 33px;
	font-size: 2.8vw;
}
/* ------------ positionnement des images ------------*/
.intro{
	height: 62vw; /* respon : réduit la largeur window = réduit la hauteur du div*/

}	
.wrapper{
	height: 100%;
	position: relative;
}
#me {
	width: 100%;
	height:72%;
	display: flex;
	justify-content: flex-end;
	z-index: 0;
}
#gif{
	width: 100%;
	z-index: -1;
	margin-top: 27%;
}
#me img{
	width: 43%;
}
#gif img{
	width: 83%;
}
#gif, #me, #titre, #jaune, #logo{
	position: absolute;
}
#titre{
	width: 100%;
	z-index: 2;
	margin-top: 15%;
}
#titre h1{
	letter-spacing: -2px;
	float:right;
	margin: 0% 34.7% 0% 0%;
}
#jaune{
	z-index: -2;
	width: 100%;
}
#bloc{
	background-color: #EFE71D;
	width: 35%;
	height:343px;
	margin-left:26%;
	margin-top: 15%;
}
#logo{
	width:100%;
	display:flex;
	justify-content: flex-end;
	margin-top: 45%;
}
#logo svg {
	margin-right: 6%;
	width:23vw;
}
/* --------------- menu ------------*/
ul :nth-child(5){
	text-decoration-line: line-through;
	opacity: 0.5;
}
.menu{
	margin:0;
	margin-top:90px;
	margin-bottom: 100px;
}
ul{
	margin-top:0;
	padding:0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	font-size: 43px;
	font-size: 3.4vw;
	font-weight: 300;
}
#menu{
	font-weight: 500;
	font-size: 37px;
	font-size: 3vw;
	text-decoration: underline;
}
a{
	color: black;
}
.menu a:hover{
	color:#0F29BF;
}
.menu a:visited{
	color:#0F29BF;
}
/* --------------- corps --------------- */
.corps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 120px;
}
#deco{
	width: 28%;
	height:50%;

}
.corps p{
	width:60%;
	margin: 0;
	letter-spacing: 0;
}
/* ------------ chemin ------------*/
#un{
	width: 100%;
	position: relative;
	overflow: auto;
	margin-bottom: 65px;
}
#deux, #trois{
	width: 100%;
	position: relative;
	overflow: auto;
}
.carree{
	height:86%;
	width:31%;
	background-color: #EFE71D;
	position: absolute;
	z-index:-1;
}
.chemin h2{
	font-size:61px;
	font-size: 4.7vw;
	font-family: 'Silka Medium';
	margin-bottom: 0px;
}
.chemin p{
	margin-top: 20px;
	margin-bottom: 0px;
}

/* bloc 1 */
#first{
	right:17%;
}
#un img{
	margin-top:55px;
	width: 29%;
}
#un p{
	float: left;
	width: 64%;
	text-align: right;
	margin-right: 7%;
}
#un h2{
	text-align: right;
	float: left;
	width:64%;
	margin-top: 70px;
}
/* bloc 2*/
#second{
	right:50%;
}
#deux{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 120px;

}
#deux img {
	margin:0 auto;
	margin-top:55px;
	width: 29%;
	height:50%;
}
#deux #left{
	width: 29%;
}
#deux #right{
	width: 29%;

}
#left h2, #left p{
	text-align: right;
}
#right h2{
	margin-top: 38%;
}
/* bloc 3*/
#trois{
	width: 100%;
}
#trois h2{
	margin-top: 7%;
}
#trois img{
	float: left;
	margin-right: 7%;
	width: 29%;
}
#trois{
	margin-bottom: 96px;
}
/* ----------- Tool Box ----------*/ 
.toolbox{
	position: relative;
}
#jaunebouton{
	display: flex;
	justify-content: center;
}
#jaunebouton svg {
	position: absolute;
}
.trait{
	background-color: #094349;
	width:100%;
	height: 1pt;
}
.box{
 margin-top:24px;
}
#rectanglevert{
	display: none;
	background-color: #094349;
	height: 306px;
}
#icon{
	margin: 0px 4.8%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 75px;
	text-align: center;
}
#icon img{
	margin-top: 20px;
}
#icon p{
	font-size: 15px;
	color:white;
}
/*--------- Social ---------*/
.social {
	margin: 0px 4.8%;
}
.social h1{
	margin:60px 0;
}
#link{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 22.5%;
}
#link a {
	display: block;
}
#link svg {
	width: 5.5vw;
}
/* ------- Animation --------*/
.chemin{
	position: relative;
}

.path {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height: 100%;
	z-index: -1;
}	
#path {
	display: inline-block;
	position: absolute;
	width:71%;
	height: 50%;
	margin-top: 28px;
	vertical-align: middle;
	overflow: hidden;

}
.curseur{
	position: absolute; 
	left: 84%;
	top:25%;
	z-index: 0;
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    /*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
}}
