html, body{
    height: 100%;
}
.container, .header{
    display: flex;
}
.container{
    height: 100vh;
}
.header{
    border-bottom: solid 2px #003F39;
}
.header .col_right{
    text-align: center;
    align-self: center;
}
.col_right{
    width: 80%;
    min-width: 75%;
}
.col_left_mid{
    width:50%;
    padding: 2em;
}
.col_left{
    position: relative;
    width:15%;
    padding: 0em 2em;
    height: 100%;
    border-right: solid 2px #003F39;
    color:white;
    font-family: 'Aeonik';
}
.col_left img{
    margin-bottom : 10%;
    margin-top: 10%;
}
.col_left ul{
    list-style: none;
    padding: 0%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.col_left li{
    margin-bottom: 5px;
    font-size: 13px;
}
#description{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 20px;
}
h1{
    font-family: "Sporting Grotesque";
    font-weight: 700;
    font-size: 60px;
    margin-left:0.6em ;
    color: white;
}
.tag {
    padding: 0em 1em;
    position: fixed;
    color:white;
    top: 95vh;
}
.tag div {
    border-radius: 100px;
    font-family: 'Aeonik';
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 0.3em 1em;
    margin-left:0.5em;
    border: solid 1px white;
}
.tag div p{
    margin:0;
    line-height: 15px;
    padding-bottom: 2px;
}
.browse{
    position: absolute;
    bottom:2em;
    right:1em;
    font-family: 'Aeonik';
}
h2{
    color:white;
    font-family: "Aeonik";
    font-weight: 500;
    font-size: 55px;
    margin:0;
}


/* menu */
.menu{
    position: sticky;
    bottom: 0;
    /* width: auto; */
    float: right;
    cursor: pointer;
    transition: ease-out 1s all;
    width: 14%;
    text-align: right;
    padding-right: 1em;
}
.menu p{
    font-family: 'Sporting Grotesque';
    font-weight: 300;
    padding-bottom: 0.3em;
    font-size: 35px;
    display: inline-block;
    line-height: 35px;
    margin:0;
    color : white;
}
.index{
    height:0;
    transition: ease-out 1s all;
}
.index ul{
    list-style: none;
    margin-bottom: 2em;
    display: none;
    text-align: right;
}
.index ul li a{
    font-family: 'Sporting Grotesque';
    font-size: 25px;
    text-decoration: none;
    color:white;
    font-weight: 500;
  
}
.index ul li a:hover{
    color:#ff4232;
    text-decoration: underline;
    cursor: pointer;
}