@font-face {
    font-family: "Sporting Grotesque";
    font-weight: 800;
    src: url("/font/Sporting_Grotesque-Bold_web.woff") format("woff")
   }
@font-face {
    font-family: "Sporting Grotesque";
    font-weight: 500;
    src: url("/font/Sporting_Grotesque-Regular_web.woff") format("woff")
   } 
@font-face {
    font-family: "Aeonik";
    font-weight: 300;
    src: url("/font/Aeonik-Light.woff") format("woff")
} 

html, a{
    cursor: none;
}
.body{
    overflow: hidden;
}

.cursor{
    position:fixed;
    /* background-color: black; */
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    border : 1px solid black;
    width: 20px;
    height: 20px;
    z-index: 100;
}
.cursor-center{
    position: absolute;
    margin: 7.5px;
    width: 5px;
    height: 5px;
    background-color:black; 
    border-radius: 50%;
    z-index: 100;
}
.catchy{
    display: flex;
    justify-content: space-around;
    color: black;
    position: absolute;
    font-family: 'Sporting Grotesque';
    font-weight: 800;
    font-size: 3em;
    width: 70%;
    text-align: center;
    top: 32%;
    left: 15%;
}
.langue{
    position: absolute;
    height: auto;
    width: auto;
    right: 1.5%;
    top: 18px;
    opacity: 0.5;
}
.langue img{
    width: 40px;
}
.langue:hover{
    opacity: 1;
}
.name{
    color:white;
    position: absolute;
    font-family: 'Sporting Grotesque';
    font-weight: 500;
    left: 2%;
    top:5px;
    font-size: 1.5em;
}
.menu{
    position: absolute;
    bottom: 0;
    width : auto;
    right:0;
    padding-right: 1.7em;
    text-align: right;
   transition: ease-out 1s all;
}
.menu p{
    font-family: 'Sporting Grotesque';
    font-weight: 300;
    padding-bottom: 0.3em;
    font-size: 40px;
    display: inline-block;
    line-height: 50px;
    margin:0;
    color: white;
}
.index{
    height:0;
    transition: ease-out 1s all;
}
.index ul{
    list-style: none;
    margin-bottom: 2em;
    display: none;
}
.index ul li a{
    font-family: 'Sporting Grotesque';
    font-size: 30px;
    text-decoration: none;
    color:black;
    font-weight: 300;
}
.index ul li a:hover{
    color:white;
}
.copyright{
    position: absolute;
    bottom: 1em;
    left: 2em;
    font-family: "Aeonik";
    font-weight: 300;
    font-size: 1em;;
    color: #b8271a;
}