#jaune1, #jaune2{
	background-color: #ffff00;
	bottom:0px;
	width:50%;
	position: absolute;
	top: 30%;
	text-align: center;
}
.menulinks a{
	font-size: 30px;
}
#jaune1 #join, #jaune2 p{
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin-top: 15.5vh;
	text-decoration: none;
	display:block;
}
#jaune1:hover #mail{
	display: block;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-top: 15.5vh;
	color:#044fef;
}
#jaune2 img{
	height: 40px;
	width: auto;
	margin-left:0px;
	margin-top: 15vh;

}