
.logo2{
    position: absolute;
    top: 30px;
    left: 30px;
}
.logo2 svg{
    width: 70px;
    height: 70px;
}
.worklist{
    position: absolute;
    top: 20%;
    left: 20%;
}
.worklist p{
    font-family: 'Gatwick', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: var(--base);
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
}
.worklist ul{
    list-style: none;
}
.worklist li{
    margin-bottom: .8rem;
}
.worklist ul li a{
    font-family: 'Gatwick', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: var(--accent);
    position: relative;
}
.worklist ul li a::after{
    content: '';
    width: 0%;
    height: 10px;
    position: absolute;
    background-color: var(--base);
    left: 0;
    top: 49%;
    z-index: -1;
    transition: width 0.2s ease-in-out;
}
.worklist ul li a:hover::after{
    width: 100%;
}
.filter{
    position: absolute;
    bottom: 20px;
    font-family: 'Aeonik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--accent);  
    right: 50px
}
.filtres{
    max-height: 0;
    overflow: hidden;
}
.video{
    filter: brightness(1.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.filter p a::before{
    content:'';
    height: 2px;
    width: 20px;
    background-color: var(--accent);
    position: absolute;
    margin-top: 25px;
    transition: width 0.5s ease-in-out;
}
.filter p a:hover::before{
    width: 40px;  
}
.filtres{
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.4s;
}
.filtres p{
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
    color: #333;
    font-weight: 400;
    opacity: 0.5;
}
@media screen and (max-width: 600px){
    .filter{
        left: 0px;
        bottom :0px;
        padding:10px;
        background-color: var(--accent);
        position: fixed;
        color: white;
        width: 100%;
        min-height: 30px;
    }
    .filter p {
        margin-top: 5px;
    }
    .filter p::after{
        content: '';
        height: 0;
        position: relative;
    }
   
    .filtres p{
        text-align: left;
        color: white!important;
    }
    .worklist{
        left: 20px;
     
       padding-bottom: 250px;
    }
} 
@media screen and (max-width: 800px){
    .worklist{
        left: 10%;
    }
}