@font-face {
	font-family: 'Silka Light';
	font-style: normal;
	font-weight: 300;
	src: local('Silka Light'), url('silka-light.woff') format('woff');
}
@font-face {
	font-family: 'Silka Regular';
	font-style: normal;
	font-weight: 500;
	src: local('Silka Regular'), url('Silka-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Silka ExtraLight';
	font-style: normal;
	font-weight: 200;
	src: local('Silka ExtraLight'), url('silka-extralight.woff') format('woff');
}
/*reset*/
html,body /* scroll horizontal bug */
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   
}
body{
	font-family: 'Silka Light', sans-serif;
	font-size: 100%;
	
}
section{
	margin: 0% 4.8%;
}
main{
	margin-bottom: 90px;
}
a{
	text-decoration: none;
	color:black;
}
/*---------- Header : Menu --------*/
.menu{
	margin:0;
	margin-top:60px;
	margin-bottom: 72px;
	font-weight: 300;
}
ul{
	margin-top:0;
	padding:0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	font-size: 30px;
	font-size: 2.3vw;
	font-weight: 300;
}
#menu{
	font-weight: 500;
	font-size: 30px;
	font-size: 2.3vw;
	text-decoration: underline;
}
.menu a:hover{
	color:#0F29BF;
}
/*---------- Header : intro --------*/
.intro{
	height: 65vw; /* respon : réduit la largeur window = réduit la hauteur du div*/

}	
.wrapper{
	height: 100%;
	position: relative;
}
#title{
	right:0;
	top:0;
}
h1{
	font-size: 160px;
	font-size:12.5vw;
	font-weight: 300;
	display: flex;
	justify-content: flex-end;
	margin:0;
	margin-bottom:4%;
}
#text{
	display:flex;
	justify-content: flex-end;
}
h2{
	margin:0;
	width:79%;
	text-align: right;
	font-size:4.6vw;
	font-family: 'silka extralight';
	font-weight: 200;
}
#bloc, #image {
	position: absolute;
}
#bloc{
	top:18%;
	right:9%;
	width: 37.8vw;
	height: 35.5vw;
	background-color: #EFDC1D;
	z-index: -1;
}
#image{
	width:100%;
	bottom: 0;
	z-index: 1;
}

img {
	width:81%;
}
/* --------------- liste index --------- */
.liste_mobile{
	display: none;
}
.liste ul {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left:4.8%;
	margin-top: 90px;
	margin-bottom: 0px;
	position: relative;
}
.liste, .liste li{
	width: 100%;
	overflow-x: hidden;
}
.liste li{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 5px;
}
.liste a{
	font-size: 49px;
	font-size:3.8vw;
	font-family:'Silka Regular', sans-serif;
}
.ligne{
    display: none;
    width:80%;
    margin-left:39%;
    position: absolute;
}
.ligne :nth-child(1){
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.liste a:hover{
	color: #0F29BF;
}
.liste a:hover + .ligne {
    display: block;
}
.trait{
	width:60%;
	height: 2px;
	background-color: black;
}
.nombre{
	margin-left:5%;
}
.nombre p{
	margin:0;
	font-size: 2vw;
	color:#0F29BF;
}
.icon{
	display: none;
	width:40%;
	margin-left: 10%;
	z-index: -2;
	opacity: 0.5;
	position: absolute;
}
#iconall{
	display: block;
}
.liste{
	position: relative;
}
.icondiv{
	position: absolute;
	height:80%;
	width: 80%;
	top:30%;
	left:50%;
}
/*------- gallery ----*/
.gallery{
	width:100%;
	padding-top:30px;
}
h3{
	margin-top:0;
	margin-bottom:9%;
	font-size: 4.6vw;
	font-weight: 300;
	letter-spacing: -2px;
	text-align: center;
}
p{
	font-size: 30px;
	font-size: 2.3vw;
	font-weight: 400;
	margin-bottom: 13%;
	margin-top:0;
	display: inline-block;
	text-align:left;
}
.bande{
	width:100%;
	height:35vw;
	position: relative;
	margin-top:60px;
}
.rect{
	width:69%;
	height: 100%;
	z-index: -1;
	position: absolute;
	right:0;
}
.left .rect{
	left:0;
}
.jaune{
	background-color: #EFDC1D;
}
.red{
	background-color: #E74F59;
}
.vert{
	background-color: #094349;
}
.bleu{
	background-color: #0F29BF;
}
.flexbox{
	display:flex;
	flex-wrap: wrap;
	position: absolute;
	flex-direction: row-reverse;
	width: auto;
	margin-left:4.8%;
	height: 100%;
	right: 0px;
    left: 0px;
}
.left .flexbox{
	flex-direction: row;
	margin-right:4.8%;
	margin-left:0%;

}
span{
	width:45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description{
	color:white;
	width:70%;
	text-align: center;
}
.description svg{
	display: block;
	margin:0 auto;
	width: 15%;
}
.black{
	color: black;
}
.bande img{
	width:55%;
	height: 84%;
	overflow: hidden;
}
.bande video{
	margin-bottom: 6%;
	width:55%;
	overflow: hidden;
}
#enuresie{
	margin-bottom: 8.5%;
}
.app img{
	width: 17%;
	height: 46%;
}
.app span{
	display: flex;
	align-items: center;
	width:60%;
	height: 100%;
} 
.app .flexbox{
	height: 100%;
	width:100%;
	margin:0;
}
.app svg{
	width:11%;
}

/* -------- Contact ------- */
.contact{
	margin-left: 4.8%;
	margin-right: 4.8%;
	margin-top: 120px;
}
.contact h2{
	margin: 0px 0px 60px 0px;
	width:100%;
	text-align: left;
	font-size:73px;
	font-family: 'silka extralight';
	font-size: 5.7vw;
	font-weight: 300;
}
.link, .social{
	display:flex;
	justify-content: center;
}
.link a{
	text-decoration: none;
	color: black;
	font-size:1.7vw;
}
.social{
	margin-top: 20px;
	margin-bottom: 90px;
}
.social svg{
	width:3vw;
}
.social :nth-child(2){
	margin-left: 8%;
}
/*------- projet -----*/
.diapo{
	display: none;
	width:100%;
	position: relative;
}
.diapoleft{
	display: none;
	width:100%;
	position: relative;
}
.slider{
	height: 100%;
	margin: 10px 4.8% 60px 4.8%;
}
.date{
	margin-bottom:2%;
	color:black;
	text-align: right;
	width: 100%;
	font-family: 'Silka Regular', sans-serif;
	font-size: 2vw;
}
.separateur{
	height:2px;
}
.jaune p{
	color:black;
}
.sld{
	margin: 30px 0px;
	display: flex;
	align-items: flex-end;
}
.droite{
	flex-direction: row-reverse;
	align-items: flex-start;
	margin: 60px 0px;
}
.sld p{
	text-align: left;
	margin-bottom: 0;
}
.droite p{
	text-align: right;
	margin-bottom: 0;
}
.sld img{
	width:50%;
}
.first .sld img{
	border: 1px #0F29BF solid;
}
.droite img{
	width:60%;
}
.droite .text{
	display: flex;
	justify-content: flex-end;
}
.text{
	margin-bottom: 0;
	width:35%;
	margin-left:20px;
	margin-right:20px;
}
video{
	width:100%;
}
.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(45deg);
}
#island{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
#island .sld{
	width:30%;
}
#island .sld img{
	margin: 0 auto;;
}
/*------ projet : bloc mise en page ------*/
.bloc1{
	height:20vw;
	width: 40vw;
	position: absolute;
	margin-top:63%;
	margin-left: 25%;
	z-index: -1;
}
.bloc2{
	height:20vw;
	width: 40vw;
	position: absolute;
	margin-top:28%;
	margin-left: 25%;
	z-index: -1;
}
.bloc3{
	height:20vw;
	width: 50vw;
	position: absolute;
	margin-top:65%;
	margin-left: 25%;
	z-index: -1;
}
.bloc4{
	height:20vw;
	width: 30vw;
	position: absolute;
	margin-top:135%;
	margin-left: 29%;
	z-index: -1;
}
.bloc5{
	height:20vw;
	width: 20vw;
	position: absolute;
	margin-top:72%;
	margin-left: 19%;
	z-index: -1;
}
/*------ bug ------*/
.error {
	right:0;
	left:0;
}
