/* ---- Menu ---*/
.menu ul{
	font-size: 3vw;
}
.menu{
	margin-top: 30px;
	margin-bottom: 60px;
}
h3{
	letter-spacing:0;
	font-size: 4vw;
}
/* ------ margin ------ */
#menu{
	display: none;
}
.gallery{
	margin-top:60px;
}
.contact{
	margin-top: 60px;
}
.bande{
	margin-top:30px;
}
/* ------- gallery : Paris ------- */
#parisfront :nth-child(1){
	margin-top:0px;
	 
}
#parisfront :nth-child(2){
	top:29%;
}